@import '../../styles/variables.scss';

.query-item {
	border: 1px solid transparentize($primary-color, 0.8);
	border-radius: 8px;
	cursor: pointer;
	margin-bottom: 1rem;
	transition: background-color 0.3s;

	&:hover {
		background-color: $background-primary;
	}

	.crypto-question {
		align-items: center;
		color: $primary-color;
		cursor: pointer;
		display: flex;
		justify-content: center;
		text-align: center;
		transition: color 0.3s;

		&:hover {
			color: darken($primary-color, 10%);
		}

		.crypto-emoji {
			font-size: 1.5rem;
			margin-right: 8px;
		}
	}

	.crypto-answer {
		color: $primary-text-color;
		max-height: 0;
		overflow: hidden;
		padding: 0 1rem;
		transition: max-height 0.3s, padding 0.2s;

		&.open {
			max-height: 200px;
			padding: 1rem;
		}
	}
}
