@import '../../styles/variables.scss';

.crypto-detail {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin: 50px auto;
	max-width: 800px;
	padding: 0 15px;

	.top-card,
	.stats-bar,
	.description-card {
		box-sizing: border-box;
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	.top-card {
		align-items: center;
		background: $background-white;
		border-radius: 10px;
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
		display: flex;
		gap: 20px;
		padding: 15px;

		img {
			border-radius: 50%;
			height: 80px;
			width: 80px;
		}

		.name-rank {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 5px;

			h1 {
				margin: 0;
				font-weight: 600;
			}

			p {
				margin: 0;
				font-weight: 600;
			}
		}
	}

	.stats-bar {
		align-items: center;
		background: $background-white;
		border-radius: 10px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
		display: flex;
		gap: 20px;
		justify-content: space-between;
		padding: 10px 15px;

		p,
		span {
			color: $primary-text-color;
			font-weight: 600;
			margin: 0;

			&.change-positive {
				color: $increase-color;
			}

			&.change-negative {
				color: $decrease-color;
			}
		}
	}

	.description-card {
		background: $background-white;
		border-radius: 10px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
		padding: 15px;

		.description {
			color: $primary-text-color;
			font-weight: 500;
			max-height: 300px;
			overflow-y: auto;

			a {
				color: $secondary-color;
				text-decoration: none;

				&:hover {
					color: lighten($secondary-color, 10%);
				}
			}

			&::-webkit-scrollbar {
				width: 8px;
				background-color: $background-white;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #b0b0b0;
				border-radius: 4px;
			}

			&::-webkit-scrollbar-track {
				background-color: $background-white;
			}

			// For Firefox
			scrollbar-width: thin;
			scrollbar-color: #b0b0b0 $background-white;
			padding-right: 20px;
		}
	}

	@media (max-width: $breakpoint-tablet) {
		padding: 0 10px;

		.top-card,
		.stats-bar,
		.description-card {
			padding: 10px;
		}

		img {
			height: 60px;
			width: 60px;
		}

		.stats-bar h2 {
			font-size: 1.2em;
		}
	}
}
