@import '../../styles/variables.scss';

.learn-section {
	align-items: flex-start;
	background-color: lighten($secondary-color, 30%);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 1rem;

	.learn-container {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;

		.title {
			font-size: 3rem;
			font-weight: 600;
			letter-spacing: 1.2px;
			margin-bottom: 1rem;
			text-transform: uppercase;
			color: $primary-color;
		}

		.sub-header {
			font-size: 1.2rem;
			font-weight: 400;
			margin-bottom: 2rem;
			color: $primary-text-color;
		}
	}
}

.faqs {
	width: 100%;
	.faq-item {
		border: 1px solid transparentize($primary-color, 0.8);
		border-radius: 8px;
		margin-bottom: 1rem;
		transition: background-color 0.3s;

		&:hover {
			background-color: lighten($secondary-color, 35%);
		}

		.faq-question {
			cursor: pointer;
			padding: 1rem;
			color: $primary-color;
			transition: color 0.3s;

			&:hover {
				color: darken($primary-color, 10%);
			}
		}

		.faq-answer {
			max-height: 0;
			overflow: hidden;
			padding: 0 1rem;
			color: $primary-text-color;
			transition: max-height 0.3s, padding 0.2s;

			&.open {
				max-height: 200px;
				padding: 1rem;
			}
		}
	}
}
