@import '../../styles/variables.scss';

.topbar-container {
	background-color: $background-primary;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	color: $primary-text-color;
	display: flex;
	justify-content: space-around;
	padding: 10px 0;

	@media (max-width: $breakpoint-mobile) {
		flex-direction: column;
		text-align: center;
	}
}
