@import '../../styles/variables.scss';

.market-section {
	align-items: flex-start;
	background-color: $background-white;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 1rem;

	.market-container {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;

		.rows-dropdown-container {
			position: relative;
			display: inline-block;
			width: 120px;
			font-family: inherit;

			.rows-dropdown {
				position: relative;

				select {
					-moz-appearance: none;
					-webkit-appearance: none;
					appearance: none;
					background-color: $background-white;
					border: 1px solid $secondary-color-light;
					border-radius: 8px;
					box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
					color: $primary-text-color;
					cursor: pointer;
					font-family: inherit;
					font-size: 14px;
					font-weight: 700;
					padding: 0.5rem 2rem 0.5rem 1rem;
					width: 100%;
					transition: box-shadow 0.2s ease, transform 0.2s ease,
						background-color 0.2s ease;
					outline: none;

					&:hover {
						background-color: $background-primary;
						box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
						transform: translateY(-2px);
					}
				}

				.dropdown-arrow {
					position: absolute;
					top: 50%;
					right: 1rem;
					transform: translateY(-50%);
					color: $primary-text-color;
					font-size: 1.2rem;
					pointer-events: none;
					transition: transform 0.2s ease;

					.rows-dropdown select:hover + & {
						transform: translateY(-50%) scale(1.1);
					}
				}
			}
		}

		.title {
			color: $primary-text-color;
			font-size: 3rem;
			font-weight: 700;
			letter-spacing: 1px;
			margin-bottom: 1rem;
			text-transform: uppercase;
		}

		.error-message {
			font-size: 1.1rem;
		}

		.table-container {
			width: 100%;
			overflow-x: auto;

			.market-table {
				width: 100%;
				border-collapse: collapse;
				white-space: nowrap;

				th .th-content {
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}

				th,
				td {
					padding: 1rem;
					text-align: left;
					border-bottom: 1px solid $primary-text-color;
					font-weight: 600;
				}

				.sort-arrows {
					display: inline-flex;
					align-items: center;
					flex-direction: column;
					cursor: pointer;
					margin-left: 8px;
					height: 100%;
				}

				.arrow-up,
				.arrow-down {
					width: 0;
					height: 0;
					border-style: solid;
					display: inline-block;
					margin: 2px 0;
					opacity: 0.5;
				}

				.arrow-up {
					border-width: 0 5px 5px 5px;
					border-color: transparent transparent $secondary-color transparent;
				}

				.arrow-down {
					border-width: 5px 5px 0 5px;
					border-color: $secondary-color transparent transparent transparent;
				}

				.active-arrow {
					opacity: 1;
				}
			}
		}
	}

	.pagination {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 2rem auto;

		.prev-next,
		.page-number {
			align-items: center;
			background: transparent;
			border: none;
			border-radius: 50%;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
			color: $primary-color;
			cursor: pointer;
			display: flex;
			font-family: inherit;
			font-size: 15px;
			font-weight: 600;
			height: 30px;
			justify-content: center;
			margin: 0 5px;
			padding: 10px;
			transition: all 0.3s ease;
			width: 30px;

			&.active-page {
				color: $secondary-color;
			}

			&:disabled {
				cursor: not-allowed;
				opacity: 0.5;
			}

			&:hover:not(.active-page):not(:disabled) {
				background-color: rgba(0, 0, 0, 0.05);
			}
		}
	}
}

@media screen and (max-width: $breakpoint-tablet) {
	.market-section .market-container .title {
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 769px) and (max-width: $breakpoint-desktop) {
	.market-section .market-container .title {
		font-size: 2.8rem;
	}
}
