@import '../../styles/variables.scss';

.market-section {
	align-items: flex-start;
	background-color: $background-white;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 1rem;

	.market-container {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;

		.rows-dropdown-container {
			display: inline-block;
			position: relative;

			.rows-dropdown {
				-moz-appearance: none;
				-webkit-appearance: none;
				appearance: none;
				background-color: $background-white;
				border: 1px solid $primary-text-color;
				border-radius: 4px;
				color: $primary-text-color;
				cursor: pointer;
				font-family: inherit;
				font-weight: 700;
				margin-bottom: 1rem;
				padding: 0.5rem 1rem;
				transition: border-color 0.3s ease;
				width: 100px;

				&:hover {
					border-color: $secondary-color;
				}

				&:focus {
					border-color: $secondary-color;
					outline: none;
				}

				option {
					font-weight: 600;

					&:active,
					&:checked,
					&:focus,
					&:hover {
						color: $primary-text-color;
					}

					&:checked {
						color: $primary-text-color;
					}
				}
			}

			.dropdown-arrow {
				border: solid $primary-text-color;
				border-width: 0 2px 2px 0;
				cursor: pointer;
				display: inline-block;
				padding: 3px;
				position: absolute;
				right: 12px;
				top: 30%;
				transform: translateY(-50%) rotate(45deg);
			}
		}

		.title {
			font-size: 3rem;
			font-weight: 600;
			letter-spacing: 1.2px;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}

		.table-container {
			width: 100%;
			overflow-x: auto;

			.market-table {
				width: 100%;
				border-collapse: collapse;
				white-space: nowrap;

				th .th-content {
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}

				th,
				td {
					padding: 1rem;
					text-align: left;
					border-bottom: 1px solid $primary-text-color;
					font-weight: 600;
				}

				.sort-arrows {
					display: inline-flex;
					align-items: center;
					flex-direction: column;
					cursor: pointer;
					margin-left: 8px;
					height: 100%;
				}

				.arrow-up,
				.arrow-down {
					width: 0;
					height: 0;
					border-style: solid;
					display: inline-block;
					margin: 2px 0;
					opacity: 0.5;
				}

				.arrow-up {
					border-width: 0 5px 5px 5px;
					border-color: transparent transparent $secondary-color transparent;
				}

				.arrow-down {
					border-width: 5px 5px 0 5px;
					border-color: $secondary-color transparent transparent transparent;
				}

				.active-arrow {
					opacity: 1;
				}
			}
		}
	}

	.pagination {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 2rem auto;

		.prev-next,
		.page-number {
			align-items: center;
			background: transparent;
			border: none;
			border-radius: 50%;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
			color: $primary-color;
			cursor: pointer;
			display: flex;
			font-family: inherit;
			font-size: 15px;
			font-weight: 600;
			height: 30px;
			justify-content: center;
			margin: 0 5px;
			padding: 10px;
			transition: all 0.3s ease;
			width: 30px;

			&.active-page {
				color: $secondary-color;
			}

			&:disabled {
				color: lighten($primary-color, 20%);
				cursor: not-allowed;
				opacity: 0.5;
			}

			&:hover:not(.active-page):not(:disabled) {
				background-color: rgba(0, 0, 0, 0.05);
				color: darken($primary-color, 10%);
			}
		}
	}
}

@media screen and (max-width: $breakpoint-tablet) {
	.market-section .market-container .title {
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 769px) and (max-width: $breakpoint-desktop) {
	.market-section .market-container .title {
		font-size: 2.8rem;
	}
}
