@import '../../styles/variables.scss';

.market-section {
	align-items: center;
	background-color: $background-white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	padding: 1rem;

	.market-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		.title {
			font-size: 70px;
			font-weight: 500;
			letter-spacing: 1.2px;
			text-transform: uppercase;
		}
	}
}

@media screen and (max-width: $breakpoint-tablet) {
	.home-section .home-container .title {
		font-size: 50px;
	}
}

@media screen and (min-width: 769px) and (max-width: $breakpoint-desktop) {
	.home-section .home-container .title {
		font-size: 60px;
	}
}
