// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Colours
$background-white: #ffffff;
$background-primary: #f0f4f8;
$primary-color: #1b263b;
$primary-text-color: #212529;
$secondary-color: #5dade2;
