@import '../../styles/variables.scss';

.home-section {
	align-items: center;
	background-color: $background-primary;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	padding: 1rem;

	.home-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		.title {
			font-size: 70px;
			font-weight: 600;
			letter-spacing: 1.2px;
			text-transform: uppercase;
		}

		.coin-list {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			margin-top: 2rem;

			.coin-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 200px;
				margin: 1rem;

				.coin-image {
					width: 75px;
					height: auto;
				}

				.price-info {
					display: flex;
					align-items: center;

					.increase {
						color: $increase-color;
					}

					.decrease {
						color: $decrease-color;
					}

					p {
						margin: 0 10px;
						font-size: 20px;
						font-weight: 600;
					}

					span {
						color: $primary-color;
						font-weight: 600;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $breakpoint-tablet) {
	.home-section .home-container .title {
		font-size: 50px;
	}
}

@media screen and (min-width: 769px) and (max-width: $breakpoint-desktop) {
	.home-section .home-container .title {
		font-size: 60px;
	}
}
