.fear-greed-index {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px 8px 0 0;
	padding: 20px;
	color: white;

	h2 {
		margin-bottom: 20px;
	}
	.fear-greed-value {
		font-size: 3em;
	}
	.fear-greed-name {
		font-weight: 600;
		font-size: 24px;
	}
}

.fear-greed-index.Extreme-Fear {
	background-color: #ea3943;
}

.fear-greed-index.Fear {
	background-color: #ea8c00;
}

.fear-greed-index.Neutral {
	background-color: #f3d42f;
}

.fear-greed-index.Greed {
	background-color: #93d900;
}

.fear-greed-index.Extreme-Greed {
	background-color: #16c784;
}

.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
	top: -2px;

	&:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}

.info-circle {
	background-color: #555;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 14px;
}

.tooltiptext {
	font-size: 12px;
	visibility: hidden;
	width: 300px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%; // adjust this as necessary for positioning
	left: 50%;
	margin-left: -150px; // half of the tooltip width
	opacity: 0;
	transition: opacity 0.3s;

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: #555 transparent transparent transparent;
	}
}

@media screen and (max-width: 480px) {
	.tooltiptext {
		width: 200px;
		margin-left: -155px;
	}
}
