@import '../../styles/variables.scss';

.footer-section {
	align-items: center;
	background-color: $background-primary;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;

	.footer-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}
